.about {
  text-align: center;
}
img.imige {
  border-radius: 50%;
}
.skills {
  background-color: aqua;
}
.Experience {
  background-color: aqua;
}
.me {
  background-color: aqua;
}
span.shop {
  background-color: rgb(232, 232, 16);
}
